/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_bootstrap
 */
 body{
 	color: #d22137
 }
.btn-warning {
	background-color: orange;
	margin-top: 17px;
	padding:15px;
	    margin-left: 1187px;
}
.footer{
	background-color: black;
	text-align: center;

}
.event{
	background-color:#eee;
	width:16%;
	padding-left: 32px;
	float:right;
	margin-right: 136px;
	margin-top: 85px;
}

.form{
	background-color: #eee;
    width: 14%;
    padding: 12px;
    margin-left: 671px;
}
.form1{
	background-color: #eee;
    width: 16%;
    padding: 26px;
        margin-left: 617px;
}

.navbar-inverse {
	margin-top:-20px;}
